.footer1 {
    color: white;
   margin-top: 7rem;
  
}
  
  .footer1 a {
    color: white;
  }
  
  .footer1 .text-uppercase {
    color: white;
  }
  
  .footer1 .fw-bold {
    color: white;
  }
  
  .footer1 .me-3 {
    color: white;
  }
  .footer1 p{
    color: white;
  }
  .footer1 .text-center {
    color: white;
  }


  